/* Large desktops and laptops (large>)
@media (min-width: 1200px) {}
 Landscape tablets and medium desktops (md) 
@media (min-width: 992px) and (max-width: 1199px) {}
 Portrait tablets and small desktops (small><md)
@media (min-width: 768px) and (max-width: 991px) {}
 Landscape phones and portrait tablets (xsmall)
@media (max-width: 767px) {}
Portrait phones and smaller  (xsmaller)
@media (max-width: 480px) {}
*/
* {
  border-radius: 0 !important;
}

html,body {
	font-family: "Segoe UI";
	color: #212121;
	background-image: url("../../img/component/background.jpg");	
	/*background: -webkit-radiant-gradient(top, #fff, #dadada); **/
	height:100%;
}

div,header,section,article,span {
	/*border: solid 1px #aaa;*/
}

.left {
	float: left;
}
.center {
	margin:0 auto;
}

.right {
	float: right;
}

header,
.menu {
	font-family: "Segoe UI";
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);

}

.searchbox{
	padding:0px;
	/*background: red;*/
	width: 100%;
}

input[type="text"]{
	font-size: 12pt;
	padding:20px 10px;
}

button.cari{
	width: auto;
	background: none;
	border: none;
	height: auto;
	margin-left: -35px;
	bottom: 0px;
	padding:14px 11px;
}
/* columns of same height styles */

.row-full-height {
  height: 100%;
}
.col-full-height {
  height: 100%;
  vertical-align: middle;
}
.row-same-height {
  display: table;
  width: 100%;
  /* fix overflow */
  table-layout: fixed;
}
.col-xs-height {
  display: table-cell;
  float: none !important;
}


@media (min-width:400px) and (max-width:767px){
	.padding{
		padding-right:0px !important;
	}

	.padding-left{
		padding-left:0px !important;
	}

	.invleft{
		padding-left:15px !important;
  	}

	.invright{
		padding-right:15px !important;
	}

	.pRight{
		text-align: left !important;
	}

	.pbl-none{
		border-left:none !important;
	}
}

@media (min-width: 768px) and (max-width: 991px){
  	.col-sm-height {
    	display: table-cell;
    	float: none !important;
  	}

  	.padding{
  		padding-right:0px !important;
  	}

  	.padding-left{
		padding-left:0px !important;
   	}

  	.invleft{
		padding-left:15px !important;
  	}

  	.pRight{
  		text-align: left !important;
  	}

  	.pbl-none{
		border-left:none !important;
	}
}

@media (min-width: 992px) and (max-width: 1199px){
  	.col-md-height {
    	display: table-cell;
    	float: none !important;
	}

  	.padding{
	  	padding-right:15px !important;
  	}

  	.padding-left{
		padding-left:0px !important;
	}

	.pRight{
		text-align: right !important;
	}

	.pbl-none{
		border-left:none !important;
	}
}

@media (min-width: 1200px) {
  .col-lg-height {
    display: table-cell;
    float: none !important;
  }

  .pRight{
		text-align: right !important;
	}

	.pbl-none{
		border-left:1px solid #aaa !important;
	}
}

/* vertical alignment styles */

.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}

/*Header-------------------------------------------------------*/
.header {
	align: center;
	position: relative; 
	padding: 30px 0;
	background-image: url("../../img/component/header.jpg") !important;
	/* 	background-size: cover; */
	/* 	background: -webkit-linear-gradient(top, #2b7faa, #266f95 30%); */
	/* 	background: -moz-linear-gradient(top, #2b7faa, #266f95 30%); */
	/* 	background: -o-linear-gradient(top, #2b7faa, #266f95 30%); */
}

.header h1 {
	color: white;
	margin-top: 12px;
	font-size: 16pt;
	text-align: left;
	font-size: 16pt;
}

.h4 {
	text-align: center;
	color: white;
}
/*Small*/
@media (min-width: 768px) and (max-width: 991px) {
	.header input{
		margin-top: 10px;
	}
}

/*XSmall*/
@media (max-width: 767px) {
	.header img{
  		display: block;
  		margin-left:35%;
  		width: 30%;
	}
	.header h1{
		text-align: center;
	}
}
/*Navbar----------------------------------------------------------*/
.navbar {
	background: #4c5a61;
	border: none;
	z-index:1000;
}
/*Header*/
.navbar-header {
}
.navbar-brand{ 
	font-size:10pt;
}
/*Collapse*/
.navbar-collapse{
	padding: 0;
}
.navbar a {
	color:#fff !important;
}
.navbar .active a {
	background: #008ed6 !important;
}
.navbar .active a:hover {
	background: #008ed6 !important;
}
.navbar .dropdown-menu {
	background: #4c5a61;
	width: auto !important;
	border: none;
}
.navbar-nav>li a:hover{
	background: #5d7a89 !important;
}


/*Dropdown hover*/
.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}
/*Dropdown hover*/
.navbar-nav>li a:focus {
	background: #5d7a89 !important;
}

.dropdown-menu a{
	padding:15px !important;
}
.dropdown-menu a:hover {
	background: #5d7a89 !important;
}
 /*Large desktops and laptops (large>)*/
@media (min-width: 1200px) {
	.dropdown:hover .dropdown-menu {
	    display: block;
	    width: 100%;
	    padding: 0;
	}
}
/*Landscape tablets and medium desktops (md) */
@media (min-width: 992px) and (max-width: 1199px) {
	.dropdown:hover .dropdown-menu {
	    display: block;
	    width: 100%;
	    padding: 0;
	}
}
 /*Portrait tablets and small desktops (small><md)*/
@media (min-width: 768px) and (max-width: 991px) {
	.dropdown:hover .dropdown-menu {
	    display: block;
	    width: 100%;
	    padding: 0;
	}
}
/*XSmall*/
@media (max-width: 767px) {
	.dropdown-menu a{
		padding:10px !important;
		padding-left: 25px !important;
	}
	.dropdown-menu{
		padding:0;
		background: #3b454a !important;
	}
}

/*Navigation----------------------------------------------------*/
.navigation {
	background: white;
	border-bottom:1px solid #ccc;
	margin-bottom: 10px;
}

.navigation a {
	color: #333;
	padding: 10px;
	font-size: 9pt;
	margin: 0px;
	font-style: italic;
	display: inline-block;
}

.navigation a:hover,.navigation a.selected {
	color: rgb(0, 142, 214);
	text-decoration: none;
}

/*Announcement--------------------------------------------------*/
.announcement{
	background:#666;
	height: 250px;
	color: #fff;
	vertical-align: middle;
	text-align:  center;
	padding-top:95px;
}
.announcement mark{
	padding:10px;
	background: #008ed6;
	display: inline-block;
	color: #fff;
	margin-bottom:10px;
}
/*Container--------------------------------------------------*/
.container {
	/*background-image: url("../../img/background.jpg");*/
	/*height: 100%;*/
}
.main {
	/*min-height:47.2%;*/
}
/*Content / Article------------------------------------------*/
.content h1 {
	margin-top: 10px;
	color: rgb(0, 142, 214);
}

.content p {
	line-height: 2;
}

.content img {
	width: 100%;
}

/*Side menu--------------------------------------------------*/
.side {
	/* 	margin-left: 15px; */	
   background-image: url("../../img/component/agenda.jpg");
   background-position: right bottom; /*Positioning*/
   background-repeat: no-repeat; /*Prevent showing multiple background images*/
}

.side>header {
	font-size: 16pt;
	color: rgb(0,142,214);
	border-bottom:1px solid rgb(0,142,214);
	/*border: 1px solid red;*/
	padding:9px;
	margin-bottom: 5px;
}

.side .boldborderheader{
	border-bottom:3px solid rgb(0,142,214);
	padding: 0px 0px 8px 0px;
}

.side .panel-body{
	padding: 16px;
}
.side .panel-body{
	line-height: 1.6;
}

.side a {
	font-size: 10pt;
	color: #555;
	display: block;
}
.side li{
	background: none;
	border:none;
}

.side a img {
	margin-right: 10px;
	margin-top: 2px;
	float: left;
}

.side h3{
	margin-top: -7px;
	font-size: 13pt;
}

.side p{
	text-align: justify;
}

.side a mark {
	
}

.side right {
	float: right;
}

.side a:hover {
	
}

.side a.selected {
	background: #0070a8;
	text-decoration: none;
}

.side section {
	padding: 10px;
}

.box-footer {
	background: rgb(0, 142, 214);
	border-bottom: 0px;
	padding: 0;
	text-align: center;
}

.box-footer a{
	color: #fff;
}

.box-footer a:hover{
	text-decoration: underline;
	color: #fff;
}

/*Twitter----------------------------------------------------*/
.twitter .list-group {
	background: #f1f1f1;
	margin: 10px;
}
.twitter .list-group-item {
	border-bottom: dashed 1px #aaa !important;
	border-style: dashed !important;
	overflow: auto;
}

.twitter .list-group-item img{
	width: 25px;
	float:left;
}

.twitter .list-group-item header {
	font-style: bold;
	font-family: Segoe UI Semibold;
}

.twitter a {
	font-size: 9pt !important;
	text-decoration: none;
}
.twitter mark {
	background: none;
	color: #008ed6 !important;
}
.twitter header {
	padding: p5x 0;
}
.twitter header mark {
	color: #aaa;
	font-style: normal;
	font-size: 8pt;
	float: right;
}

/*Slider-----------------------------------------------------*/
.composite-example > div .cycle-overlay {
	color: white;
	background: black;
	opacity: .6;
	filter: alpha(opacity=80);
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 15px;
}

.with-bg-size {
    width: 100%;
    min-height: 380px;
    max-height: 380px;
    background-position: center;
    overflow: hidden;
    /* Make the background image cover the area of the <div>, and clip the excess */
    background-size: cover;
}
/*Popup------------------------------------------------------*/
.popup {
	padding: 0;
	margin-bottom: 13px;
	border: solid 2px #f1f1f1;
}
.popup a {
	margin-bottom: -20px;
	margin-right: 5px;
}
/*Headline---------------------------------------------------*/
.headline {
	color: white;
	margin-top:-10px;
}

.headline a{
	color:#333;
}

.headline a:hover{
	color: rgb(0, 142, 214);
}

.headline .h {
	background: white;
	color: #333;
	display: block;
	padding: 10px;
	border-bottom:1px solid #ccc;
}

.headline .d {
	background: white;
	color: rgb(0, 142, 214);
	padding: 10px;
	display: block;
	text-align: center;
	border-bottom:1px solid #ccc;
}

.headline .right {
	padding: 10px;
}
/*Article--------------------------------------------------------*/
.article {
	overflow: hidden;
}

.article header {
	font-size: 14pt;
	color: #212121;
}

.article div {
	overflow: hidden;
	max-height:181px !important;
}
.article div img{
}
.article article .panel-body {	
	overflow: auto;
}

.article p {
	font-family: "Segoe UI Light";
	text-align: justify;
	line-height: 1.8;
	padding-top:0px;
	margin-bottom: 0px;
	color: #212121;
	text-align: justify;
}

.article .panel-footer {
	color: #008ed6;
}

.article footer img {
	margin-top: -5px;
	margin-right: 5px;
}

.article footer right {
	float: right;
}
/*Medium article*/
@media (min-width: 992px) and (max-width: 1199px) {
	.article div img{
		height: 100%;
	}
	.article>div{
		max-height:206px !important;
	}
	.article article{
		max-height:206px;
	}
}

/*Small*/
@media (min-width: 768px) and (max-width: 991px) {
	.article div img {
		width:100%;
	}
	.article div{
		max-height: 400px !important;
	}
}
/*XSmall*/
@media (max-width: 767px) {
	.article div{
		max-height: 400px !important;
	}
	.article div img {
		width:100%;
	}
}
/*Gallery----------------------------------------*/
.gallery div {
	width: 216px;
	margin-right: 15px;
	margin-bottom: 10px;
	height: 220px;
	overflow: hidden;
	float: left;
}
.gallery div:last-child {
	margin-right: 0;
}

.gallery div img {
	height: 209px;
}
  .gallery-image{
		min-width:85%; 
		height:100%; 
		background:rgba(0, 142, 214, 0); 
		position:Absolute; 
		z-index:1000; 
		transition: all 0.5s ease-in-out;
      }
/*Agenda-------------------------------------*/
.agenda{
	height: 200px;
	background: rgba(255,255,255,0.5);
	border: solid 1px rgba(0,0,0,0.1);
}
/*Footer------------------------------------------------------------*/
.footer {
	/*border-top: 1px solid #bbb;*/
	background: #4c5a61;
}
.footer .panel {
	margin-top: 13px;
	padding: 15px;
	border: none;
	background: none;
}
.footer .panel {
	/*margin-right: 15px;*/
	/*border-right: dotted 2px rgba(255,255,255,0.3);*/
}
.footer .panel:first-child {
	/*margin-left: -15px;*/
}
.footer .panel:last-child {
	/*margin-right: 15px;*/
	/*border-left: none 0px rgba(255,255,255,0.3);*/
	/*border-right: none 2px rgba(255,255,255,0.3);*/
}
.footer .panel .panel-heading {
	font-size:14pt;
	background: none;
	padding: 0 0 8pt 0;
	border: none;
	color: #fff;
}
.footer .panel .panel-body{
	padding: 0;
}
.footer .panel .panel-footer{
	padding: 0;
	color: #fff;
	border: none;
	background: none;
}
.footer .panel .panel-footer a{
	padding-left: 0;
	color:#ccc;
}
.footer .panel .panel-footer a:hover{
	color:#fff;
}
.footer .panel .panel-footer a .glyphicon {
	position: relative;
	top: 3px;
}

/*List */
.footer .panel .list-group {
	margin-bottom: 0;
}
.footer .panel .list-group .list-group-item {
	background: none;
	border: none;
	color: #000;
	/*border-left: solid 2px #aaa;*/
	padding:0;
}

.list-group-item .boxblue{
	padding: 7px;
	background: rgb(0, 142, 214);
	color:white;
	text-align: center;
	height: auto;
}

.footer .panel .list-group .list-group-text{
	color:#ccc;
	list-style:none;
}

.footer .panel .list-group .list-group-item a{
	padding: 3px;
	display:block;
	color: #ccc;
	text-decoration: none;
}
.footer .panel .list-group .list-group-item:hover {
	color: red;
	/*background:rgba(255, 255, 255, 0.7);*/
	cursor: pointer;
}

.footer .panel .list-group .list-group-item:hover a {
	color: rgb(0, 142, 214);
	text-decoration: underline;
}

/*Small*/
@media (min-width: 768px) and (max-width: 991px) {
	.footer .panel:last-child{
		/*text-align:center;*/
	}
}

/*XSmall*/
@media (max-width: 767px) {
	.footer .panel:last-child{
		/*text-align:center;*/
	}
}
/*Copyright--------------------------------------------------------------*/
.copyright {
	background: #3b454a;
}

.copyright>section {
	padding: 5px 10px;
	font-size: 10pt;
	color: #aaa;
	text-align: center;
}
/*Big Page---------------------------------*/
.big-page{
	padding-top:10%;
	text-align: center;
}
.big-page hr{
	border:dotted 1px #aaa;
	width: 600px;
	height: 0px;
}
.big-page header{
}
.big-page header>img{
	width:50px;
}
.big-page header>h1{
	font-size:13pt;
}
.big-page article>p{
	color:#555;
}
.big-page article>h1{
	font-size:36pt;
}
/*Landing Page-----------------------------------------------------*/
.cn{
	height:100%;
}

.fill{
    width:100%;
    height:100%;
    min-height:100%;
    background-color:#990000;
    padding:10px;
    color:#efefef;
}

.landing-page {
	text-shadow: none;
    height: 90%;
    display: block;
    font-size: 11pt;
    line-height: 1.8;
    text-align: justify;
}

.landing-page .boldborderheader{
	border-bottom:3px solid rgb(0,142,214);
	padding: 0px 0px 5px 0px;
	margin-left: 10px;
}

.landing-page img.imglayanan{
	width:40px;
	opacity: 0.3;
	padding-right: 10px;
	filter: grayscale(100%);
	 -webkit-filter: grayscale(100%);
}

.landing-page .layanan{
	display: block;
	padding:10px;
	font-size: 12pt;
	text-align: left;
}

.landing-page .linklayanan{
	color:rgb(0,142,214);
	display: inline;
	padding: 0px;
	font-size: 12pt;
	background: none;
}

.landing-page .box-detail-layanan{
	border:1px solid #aaa;
	border-top:none;
}

.landing-page .box-landing-page{
	border-bottom:1px solid #aaa;
	padding:10px;
}


.landing-page::after{
  content: "";
  background-image: url("../../img/header.jpg");
	opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}
.landing-page .hr {
	height: 2px;
	width:70%;
}

.menkominfo{
	background: white;
	/*padding:10px;*/
	color:#333;
	border-bottom: 1px solid #aaa;
}

.landing-page header {
    text-transform: uppercase;
    font-size: 24pt;
    margin-bottom: 20px;
}

.landing-page p {
	font-family:"Segoe UI";
}
.landing-page a {
	padding: 10px;
	display: inline-block;
	color: #fff;
	background: #008ed6;	
}
.landing-page a:hover {
}
/*Menu landing page----------------------------------------------*/
.landing-navbar {
	position:fixed;
	margin-bottom: 0px;
	overflow: auto;
	width:100%;
}
.landing-navbar li {
	list-style: none;
	float:left;
}
.landing-navbar li a {
	display: inline-block;
	padding: 15px;
	text-decoration: none;
}
.landing-navbar li a:hover {
	background: #5d7a89 !important;
}

/*Home landing page----------------------------------------------*/
.landing-page .home {
	background-image: url("../../img/component/header.jpg") !important;
	height: 768px;
	/*text-align: right;*/
	color: #fff;
	padding-top:100px !important;
	text-align: center;
}
.landing-page .home img{	
	/*float: left;*/
	width:200px ;
}
.landing-page .home header {
	background: rgba(0,0,0,0.3);
	padding: 10px;
}
.landing-page p {
	margin: 0 10px;
}
/*History landing page-------------------------------------------*/
.landing-page .history {padding: 50px 0;background:white;}
.landing-page .history header,
.landing-page .history p {
	text-align: justify;
}
.landing-page .history header {
	/*border-bottom:dashed 2px #008ed6 !important;*/
}
.landing-page .history .history-detail{
	/*border:solid 10px #eee;*/
}
.landing-page .history .history-detail section {
	overflow: auto;
	color:white;
}
.landing-page .history .history-detail article{
	font-size: 11pt;	
	border-bottom: solid 1px #008ed6;
	background: #008ed6 !important;
	padding:10px;
	/*margin-bottom: 10px;*/
}
.landing-page .history .history-detail aside{
	border-bottom: solid 1px #ddd;
	background: #ddd;
	color: #555;
	padding:10px;
}
/*Report landing page--------------------------------------------*/
.landing-page .report {
	padding: 50px 0;
	background: white;
}
.landing-page .report header,
.landing-page .report h3,
.landing-page .report p {text-align: center;}
.landing-page .report h3 {margin-bottom: 15px;}
.landing-page .report article {
	background: #eee;
	padding: 40px 10px;
	margin-right:10px;
}
/*Gallery landing page-------------------------------------------*/
.landing-page .landing-gallery {padding: 50px 0;}
.landing-page .landing-gallery img {margin:0 !important;}
/*Link (Tautan) landing page----------------------------------------------*/
.landing-page .landing-link {
	padding: 50px 0;
	background: white;
	text-align: center;
}
.landing-page .landing-link img {width:100px ;}
/*FAQ landing page-----------------------------------------------*/
.landing-page .faq section div{
	background: #eee;
	margin:10px;
	padding:10px;
}

.landing-page .faq header {
	text-align: left; 
	padding-left: 30px;
	position: relative;
   background-image: url("../../img/component/question.png");
   background-position: left top; /*Positioning*/
   background-repeat: no-repeat; /*Prevent showing multiple background images*/
	font-size: 13pt;
}
.landing-page .faq p {
	margin-top: -15px;
	text-align: justify;
}
/*---------------------------------------------------------------*/
.banner {
	height: 35%;
	background-image: url("../../img/background.jpg");
	background-size: cover;
}

.main-color {
	background: #008ed6;
}

.vertical-center-row {
	position: relative;
	top:24%;
    /*display: table-cell;*/
    vertical-align: middle;
    text-align: center;
}

.heightfullscreen {
	height: 100%;
}

.divcontent{
	min-height:150px;
}

.error{
    font-family: "SEGOE UI";
    /*text-shadow: 1px 1px 5px #999;*/
    color : (0, 142, 214);
    font-size: 150pt;rgb
    margin-top:-60px;
    /*border:1px solid red;*/
    /*line-height: 20px;*/
}

.detailerror {
	font-size: 16pt;
	color: #666;
	margin-top: -45px;
	/*border:1px solid red;*/
}

.logo {
	/*background-image:url("../../img/logo.png");
	height: inherit;
	background-repeat: none;*/	width: 100px;
}

.link {
	color: white;
	display: block;
	padding: 10px;
	text-align: center;
}

.link:hover {
	text-decoration: none;
	color: white;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	background-color: #666;
}

a.readmore{
	color:white;
	display: block ;
	padding: 5px 2px;
	text-align: center;
	background: rgb(0, 142, 214);
}

a.readmore:hover{
	text-decoration: none;
	color:white;
	transition :0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	background-color: #666;
}

a.titlenews{
	color:#333;
	font-weight: bold;
	display: block;
	font-size:13pt;
	padding : 5px 10px;
	border-left:3px solid #333;
	margin-top:5px;
}

a.titlenews2{
	color:#333;
	font-weight: bold;
	display: block;
	font-size:13pt;
	padding-bottom : 5px;
	margin-top:5px;
}

a.titlenews:hover, a.titlenews2:hover{
	text-decoration: underline;
	color: rgb(0, 142, 214);
}

a.titlebanner{
	color:white;
	filter: alpha(opacity=80);
	/*font-weight: bold;*/
	display: block;
	padding : 5px 10px;
	font-size: 13pt;
}

a.titlebanner:hover{
	text-decoration: underline;
	color: rgb(0, 142, 214);
}

.paging{
	background: white;
	position: absolute;
	padding:10px;
	margin:;
	bottom:0;
	left:0;
	display: block;
	position: fixed;
	z-index: 999;
	border:1px solid #aaa;
	border-right:none;
	border-bottom: none;
	opacity: 0.6;
	box-shadow: -1px -1px 3px #aaa;
	-moz-box-shadow: -1px -1px 3px #aaa;
	-webkit-box-shadow: -1px -1px 3px #aaa;
}

.paging:hover{
	background: white;
	position: absolute;
	padding:10px;
	margin:;
	bottom:0;
	left:0;
	display: block;
	position: fixed;
	z-index: 1111;
	border:1px solid #aaa;
	border-right: none;
	border-bottom: none;
	opacity: 1;
}

.paging a{
	font-size:12pt;
	color:#333;
	display:inline-block;
	padding:3px 5px;
}

.paging .visited{
	color:white;
	display:inline-block;
	background:rgb(0, 142, 214);
	padding:3px 8pt;
	margin : 0px 5px;
}

.paging a:hover{
	color:rgb(0, 142, 214);
	font-weight: bold;
}

.rss{
	font-weight: bold;
	font-size: 13pt;
	padding:0px 4px;
	color:white;
	display: block;
}

.rss:hover{
	text-decoration: underline;
	color: white;
}

.box{
	background:rgb(0, 142, 214);
}

.cleardiv {
	padding: 0px !important;
}

.background-none{
	background: none !important;
}

.margin-bottom10px {
	margin-bottom: 10px;
}

.margin-bottom0px {
	margin-bottom: 0px;
}

.margin-bottom15px {
	margin-bottom: 15px !important;
}

.margin-left10px {
	margin-left: 10px;
}
.margin-left15px {
	margin-left: 15px;
}
.margin-right15px {
	margin-right: 15px;
}
.margin-top15px {
	margin-top: 15px;
}

.margin-top10px {
	margin-top: 10px;
}

.margin-top0px {
	margin-top: 0px !important;
}

.margin-top-inv10px{
	margin-top:-10px;
}

.margin-bottom-inv10px{
	margin-bottom:-10px;
}

.margin-left10px{
	margin-left:10px;
}

.margin-left-inv15px{
	margin-left:-15px !important;
	position: absolute;
	left:-15px;
}

.margin-left-inv15px2{
	margin-left:-15px;
}

.font-size12{
	font-size: 12pt;
}

.padding-top0px{
	padding-top:0px;
}

.padding-top10px{
	padding-top:10px;
}

.padding-right10px {
	padding-right: 10px;
}

.padding-right15px {
	padding-right: 15px;
}

.padding-left0px {
	padding-left: 0px !important;
}

.padding-left5px {
	padding-left: 5px;
}

.padding-left10px {
	padding-left: 10px;
}

.padding-right5px {
	padding-right: 5px;
}

.padding-right0px {
	padding-right: 0px !important;
}

.padding10px{
	padding: 10px;
}

.padding0px{
	padding:0px !important;
}

.padding-bottom10px{
	padding-bottom: 10px;
}

.overflow-hidden{
	overflow: hidden;
}

.border-bottom{
	border-bottom: 1px solid #aaa; 
}

.transparentborder{
	border:1px solid transparent;
}

.text-align-right{
	text-align: right;
}

.cekborder {
	border: 1px solid black;
}

img.imgnews{
	width:100%;
	height:auto;
}

img.rss{
	width: 100%;
	height: auto;
	max-width: 28px;
}

img.subnews {
	margin: 5px 0px;
	width: 100%;
	height: auto;
	min-height:50px;
}

img.navbanner{
	cursor: pointer;
	border-bottom: 1px solid #aaa;
	opacity: 0.5;
	filter: Alpha(opacity=50); /* IE8 and earlier */
}

img.navbanner:hover{
	opacity: 1;
	filter: Alpha(opacity=100); /* IE8 and earlier */
}


.position-bottom{
	clear: both;
	bottom:0;
	width:100%;
	height:30px;
}

.title{
	font-size:13pt;
}

.content {
	text-align: justify;
}

.footer .imgbackground{
	background-image:url("../../img/background.jpg");
	padding:10px;
	opacity: 0.1;
	height:300px;
}

.newsinfo{
	text-align:left;
	color:333;
	background: #eee;
	font-size:10pt;
	display: block;
	width: 100%;
	height:auto;
	padding:6px 7px;
}

.newskind{
	position:absolute; 
	z-index:111; 
	bottom:10px; 
	left:0px;
	border-radius: 10px;
	text-align:center;
	color:white;
	font-size:10pt;
	display: block;
	background: #4c5a61;
	filter: alpha(opacity=80);
	opacity: 0.9;
	padding:6px 10px;
	width: 40%;
}

.newskind .triangle{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 30px 0 0 15px;
	position: absolute;
	right: -15px;
	bottom:0px;
	border-color: transparent transparent transparent #4c5a61
}

hr.dotted {
	border: 1px dashed;
	height: 0px;
	color: #ccc;
}
hr.dashed{
	border:1px solid;
	height: 0px;
	color: #008ed6;
	margin:0px;
}

.subcontent {
	background: white;
	color: #333;
	padding: 10px;
	padding: 0px;
	border-bottom:1px solid #ccc;
}

.sideimg{
   	background-image: url("../../img/component/agenda.jpg");
   	background-position: right bottom; /*Positioning */
   	background-repeat: no-repeat; /*Prevent showing multiple background images*/
}

.subcontent a.sidebarlink:hover{
	color: rgb(0, 142, 214);
	text-decoration: underline;
}

.subcontent a.sidebarlink{
	color:#333;
	font-size: 10pt;
	text-align: left;
	padding: 0px;
	background: none;
	display: block;
}

.subcontent .title {
	/*background:#4c5a61;*/
	/*background: rgb(0, 142, 214);*/
	border-bottom:1px solid rgb(0, 142, 214);
	padding: 10px;
}

.subcontent .content {
	padding: 10px;
}

.subcontent .title .texttitle {
	padding: 10px 0px;
	font-size: 13pt;
	color: rgb(0, 142, 214);
	border-bottom:3px solid rgb(0, 142, 214);
}

.detail-news{
	background: white !important;
	border-bottom: 1px solid #ccc;
	padding: 0px 10px;
}

.detail-news .col-sx-height {
  display: table-cell;
  float: none !important;
}

.detail-news .title{
	color:#333;
	display: block;
	font-weight: bold;
	padding: 5px 0px;
	font-size: 18pt;
	border-bottom:1px dashed #aaa;
	margin-bottom: 10px;
}

.detail-news .detail{
	font-size: 9pt;
}

.detail-news .news{
	text-align: justify;
	border-bottom:1px dashed #aaa;
	padding-bottom: 10px;
	margin-bottom: 30px;
}

.detail-news .beritaterkait{
	font-size: 14pt;
	border-bottom:1px dashed #aaa;
	padding: 5px 0px;
}

.detail-news img.iberitaterkait{
	width:100%;
	height: auto;
	min-width: 90px;
	margin: 4px 0px
}

.detail-news .bbox{
	border-bottom:1px dashed #aaa;
	padding-bottom: 10px;
	margin-bottom: 30px;
}

.detail-news .api{
	border-bottom: 1px dashed #aaa;
	display: inline-block;
	padding-bottom:8px !important;
	margin-bottom: 10px;
}

.detail-news img.detail-news {
	width: 100%;
	height: auto;
	padding: 0px;
	margin-bottom: 10px;
}

.detail-news .bboxkomentar{
	border:1px solid #ddd;
	/*padding: 5px;*/
	margin-bottom: 5px;
}

.detail-news .firstcolor{
	background:#efefef;
}

.detail-news .secondcolor{
	background:#fff;
}


.detail-news img.ikomentar{
	width: 100%;
	height:100%;
	max-width: 90px;
	max-height: 90px;
	padding: 10px;
}

.detail-news .komentator{
	font-size: 12pt;
	font-weight: bold;
	padding:5px 0px;
}

.detail-news input[type="textfield"], input[type="email"]{
	background: #efefef;
	padding:10px;
	color:#333;
	border:1px solid #ddd;
}

.detail-news textarea{
	background: #efefef;
	padding:10px;
	color:#333;
	border:1px solid #ddd;
	max-width:100%;
	min-height: 150px;
}

.detail-news button{
	float:right;
	background: rgb(0, 142, 214);
	color: white;
	padding: 5px 30px;
	border:none;
	transition:0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
}

.detail-news button:hover{
	background: #666;
}

.detail-news .isi-komentar{
	font-size: 10pt;
	padding:0px 10px 0px 0px;
	text-align: justify;
}

.detail {
	font-size: 9pt;
	color: #666;
	padding:0px 10px 0px 0px;
}

input[type="textfield"] {
	background: white;
	width: 100%;
	padding: 7px 15px;
	border: none;
}

iframe.facebook{
	background: none;
	border:none;
	width: 140px;
	height: 20px;
}

iframe.google{
	background: none;
	border:none;
	width: 190px;
	height: 20.5px;
}

.navigate {
	display: block;
	padding: 7px 0px;
	margin: 0;
}

ul.menubar {
	list-style: none;
}


ul li.dropdown:hover > ul.dropdown-menu{
	transition :0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
}

.white-panel{
	background: white;
	border-bottom:1px solid #aaa;
}

a.linkalbum {
  color: #555;
  text-align: left;
  /* display: table-cell; */
  font-size: 10pt;
  text-decoration: none;
  display: inline-block;
  overflow-y: hidden;
  padding: 5px 0px;
  white-space: nowrap;
}

a.linkalbum:hover {
  text-decoration: underline;
  color:rgb(0,142,214);
}

a.linkalbum2 {
  color: #555;
  text-align: left;
  /* display: table-cell; */
  font-size: 10pt;
  text-decoration: none;
  display: inline-block;
  overflow-y: hidden;
  padding: 5px 5px;
}

a.linkalbum2:hover {
  text-decoration: underline;
  color:rgb(0,142,214);
}

img.album{
	display: block;
	opacity: 1; 
	width: 100%; 
	height: auto;
}

/* ==================== Ariq Style ====================== */
/*================= Ariq Gallery =================*/
/*ul {         
    padding:0 0 0 0;
    margin:0 0 0 0;
}
ul li {     
    list-style:none;
    margin-bottom:25px;           
}
ul li img {
    cursor: pointer;
}*/
.modal-body {
    padding:5px !important;
}
.modal-content {
    border-radius:0;
}
.modal-dialog img {
    text-align:center;
    margin:0 auto;
}
.controls{          
    width:50px;
    display:block;
    font-size:11px;
    padding-top:8px;
    font-weight:bold;          
}
.next {
    float:right;
    text-align:right;
}
  
/*override modal for demo only*/
.modal-dialog {
    max-width:500px;
    padding-top: 90px;
}

/*.gallery-image{
	min-width:87.3%; 
	height:100%; 
	background:rgba(0, 142, 214, 0); 
	position:Absolute; 
	z-index:1000; 
	transition: all 0.5s ease-in-out;
}

.gallery-image h3{
  	color:#fff;
   	text-align: center;
   	opacity:0;
	transition: all 0.5s ease-in-out;
}

.gallery-image i{
  	color:#fff;
	margin:7% 45%;
	opacity:0;
    transition: all 0.5s ease-in-out;
}

.gallery-image:hover{
	background:rgba(0, 142, 214, 1); 
}

.gallery-image:hover i{
	opacity: 1;
}

.gallery-image:hover h3{
	opacity: 1;
}

.gallery-image:hover img{
  	display:none;
}*/

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    min-height: 1px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

    

@media screen and (min-width: 768px){
    .modal-dialog {
        width:500px;
        padding-top: 90px;
    }          
}
@media screen and (max-width:1500px){
    #ads {
        display:none;
    }
}


fancy-hover{
	padding-right:0px !important;

}

.fancy-hover a{
	text-decoration: none;
}

.title-album{
	position:absolute;
	bottom:0px;
	right:0px;
	left:15px;
	background:rgba(0, 142, 214, 0); 
	text-align: center;
	z-index:99;
	padding:10px;
	-webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transition-delay: .5s;
    -moz-transition-delay: .5s;
    -o-transition-delay: .5s;
    -ms-transition-delay: .5s;
    transition-delay: .5s;
}

.title-album h5{
	margin:0px;
	color:#fff;
	font-weight:bold; 
	opacity:0;
	-webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transition-delay: .5s;
    -moz-transition-delay: .5s;
    -o-transition-delay: .5s;
    -ms-transition-delay: .5s;
    transition-delay: .5s;
}
.fancy-hover:hover img{

	-webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transition-delay: .5s;
    -moz-transition-delay: .5s;
    -o-transition-delay: .5s;
    -ms-transition-delay: .5s;
    transition-delay: .5s;
	opacity: 0.6;
}

.fancy-hover:hover .title-album{
	background:rgba(0, 142, 214, 1);
	display: block; 
	
}
.fancy-hover:hover .title-album h5{
	opacity:1;
}

.detail-title{
	background:rgba(0, 142, 214, 1);
}
.detail-title h5{
	color:#fff;
	padding:1px 10px;
}