﻿
#mcts1, #mcts1 div { box-sizing:content-box; }

#mcts1 
{
    box-sizing: content-box;
    width:95%;
    height:auto;
    margin: 0 auto;
    border:1px solid transparent;
    background: none;
    
    /* Do not alter the below settings*/
    white-space:nowrap;
    position:relative;
    font-size:0px;
}

#mcts1>a, #mcts1>div, #mcts1>img {display:none;}
  
/*-------- div.item is each thumbnail's wrapper created by the javascript ------*/
#mcts1 div.item 
{
    padding:2px;
    margin-right:6px; /* this specifies the distance between each thumbnail */
    background-color:none;
    /*border:1px solid #ccc;*/
    text-align:center;
    position:relative;
}

#mcts1 img 
{
    border:none;
}

#mcts1 .boxtautan{
    background: red;
    max-width: 100px;
}

a.linktautan{
    display: inline-block;
    border-top: 1px dashed #aaa;
    color:#333 !important;
}

a.linktautan:hover{
    color:rgb(0, 142, 214) !important;
}

#mcts1 img.tautan{
    width:100px;
    height:auto;
    max-height: 100px;
}


/*---------built-in navigation buttons-------*/
#mcts1 .navPrev, #mcts1 .navNext, #mcts1 .navPlay
{
    width:16px; height:22px; position:absolute;  
    background-image:url(../../img/component/navbuttons.png); 
    display:inline-block; z-index:5; cursor:pointer;
    /*margin-top: -20px;*/
    margin-left: 15px;
    margin-right: 15px;
}
#mcts1 .navPrev {background-position:0 -22px;top:60px;left:-40px;}
#mcts1 .navPrev:hover {background-position:0 -44px;}
#mcts1 .navPrevDisabled, #mcts1 .navPrevDisabled:hover {background-position:0 0;cursor:default;}

#mcts1 .navNext {background-position:-16px -22px;top:60px;right:-40px;} 
#mcts1 .navNext:hover {background-position:-16px -44px;} 
#mcts1 .navNextDisabled, #mcts1 .navNextDisabled:hover {background-position:-16px 0; cursor:default;} 

/*#mcts1 .navPause, #mcts1 .navPlay {left:360px;top:130px;}
#mcts1 .navPause {background-position:0 -66px;} 
#mcts1 .navPause:hover {background-position:0 -88px;} 
#mcts1 .navPlay {background-position:-16px -66px;} 
#mcts1 .navPlay:hover {background-position:-16px -88px;} */

.navPrev, .navPlay, .navPause, .navNext 
{
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -o-user-select: none;
   user-select: none;
}
       
/*---------built-in navigation bullets--------*/
/* Note: the navBullets won't be available when "scrollByEachThumb" was set to false in the Javascript.*/
#mcts1 .navBullets
{
    display:none;
}

/*--------- class1 that is for the slide with HTML content------------*/
.class1 
{
    width:100%;
    height: auto;
    background:none;
    text-align:center;
    white-space:normal;
}
.class1 p
{
    margin-top:0;
    margin-bottom:6px;
    padding-top:6px;
    font:bold 13px Verdana;
    color:#F90;
}


/* --------- Others ------- */
#mcts1 div, #mcts1 img
{
    -webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}