<meta charset="utf-8">
<meta name="description" content="kominfo">
<meta name="keywords" content="kementerian, komunikasi, informatika, kominfo">
<link rel="shortcut icon" href="img/component/logo.png">
<title>Kementrian Komunikasi dan Informatika</title>

<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="assets/css/custom.css"> 
<link rel="stylesheet" href="assets/font-awesome-4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="http://fancyapps.com/fancybox/source/jquery.fancybox.css">
<link rel="stylesheet" href="http://fancyapps.com/fancybox/source/helpers/jquery.fancybox-thumbs.css">

<script src="assets/js/jquery-2.1.4.js"></script>
<script src="assets/js/typed.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/bootstrap-dropdown.min.js"></script>

<script src="assets/js/modernizr.js"></script>
<script src="assets/js/photo-gallery.js"></script>

<script type="text/javascript" src="http://fancyapps.com/fancybox/source/jquery.fancybox.js"></script>
<script type="text/javascript" src="http://fancyapps.com/fancybox/source/helpers/jquery.fancybox-thumbs.js"></script>
<script>
    $(document).ready(function(){
        $('.fancybox-thumbs').fancybox({
          
                prevEffect : 'none',
                nextEffect : 'none',

                closeBtn  : true,
                arrows    : false,
                nextClick : true,                

                helpers : {
                    thumbs : {
                        width  : 50,
                        height : 50
                    }
                }
            });

        /*$('.fancybox-thumbs').hover(function() {
          $(this).click();
          $(".fancybox-overlay").mouseout(function() {
            $.fancybox.close();
          });
        });*/

        if (Modernizr.touch) {
            // show the close overlay button
            $(".close-overlay").removeClass("hidden");
            // handle the adding of hover class when clicked
            $(".img").click(function(e){
                if (!$(this).hasClass("hover")) {
                    $(this).addClass("hover");
                }
            });
            // handle the closing of the overlay
            $(".close-overlay").click(function(e){
                e.preventDefault();
                e.stopPropagation();
                if ($(this).closest(".img").hasClass("hover")) {
                    $(this).closest(".img").removeClass("hover");
                }
            });
        } else {
            // handle the mouseenter functionality
            $(".img").mouseenter(function(){
                $(this).addClass("hover");
            })
            // handle the mouseleave functionality
            .mouseleave(function(){
                $(this).removeClass("hover");
            });
        }
    });
</script>



<script>
	$(document).ready(function(){ 
  		$.get("header.html", function(data) {
    		$("#header").html(data);
 		});
 		$.get("footer.html", function(data) {
		 	$("#footer").html(data);
		});
	}); 

	$(function(){
        $("#typed").typed({
            strings: ["<a href='#'>Menkominfo Mimpin Upacara Tabur Bunga di TMP Kalibata</a>","<a href='#'>Rencana Kerja Pemerintah 2016, Presiden Jokowi Minta Program Jangan Terlalu Banyak Tetapi Jelas</a>","<a href='#'>Sekjen Kemkominfo: Kemajuan TI Semestinya Memberi Nilai Tambah Bagi Masyarakat</a>"],
            typeSpeed: 30,
            backDelay: 3000,
            loop: true,
            showCursor:true,
            contentType: 'html', // or text
            // defaults to false for infinite loop
            loopCount: false,
            callback: function(){ foo(); },
            resetCallback: function() { newTyped(); }
        });

        $(".reset").click(function(){
            $("#typed").typed('reset');
        });

    });

    function newTyped(){ /* A new typed object */ }

    function foo(){ console.log("Callback"); }

</script>
<style>
      .hidden {
          display: none;
      }
      ul.album-detail {         
          padding:0 0 0 0;
          margin:0 0 0 0;
      }
      ul.album-detail li {     
          list-style:none;
          margin-bottom:15px;
      }
      ul.album-detail li img {
          cursor: pointer;
      }
      .modal-body {
          padding:5px !important;
      }
      .modal-content {
          border-radius:0;
      }
      .modal-dialog img {
          text-align:center;
          margin:0 auto;
      }
    .controls{          
        width:50px;
        display:block;
        font-size:11px;
        padding-top:8px;
        font-weight:bold;          
    }
    .next {
        float:right;
        text-align:right;
    }

      /*override modal for demo only*/
      .modal-dialog {
          max-width:500px;
          padding-top: 90px;
      }

 

  </style>	

<div id="header" class="container-fluid col-md-12 col-sm-12 col-xs-12 col-lg-12 cleardiv">
    <!-- Header -->
    <header class="header">
        <section class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <img alt="" src="img/component/logo.png" class="col-md-1 col-sm-1 col-xs-12 img-responsive logo">
                    <h1 class="col-md-10 col-sm-10 col-xs-12 cleardiv">KEMENTERIAN KOMUNIKASI DAN INFORMATIKA<br>REPUBLIK INDONESIA</h1>
                </div>
                <form method="POST" action="#" class="col-md-4 col-sm-12 col-xs-12">
                    <div class="cleardiv col-md-offset-9 col-sm-offset-9 col-xs-offset-9 col-md-3 col-sm-3 col-xs-3 margin-bottom10px">
                        <span class="col-md-11 col-sm-11 col-xs-11 cleardiv col-xs-height col-middle">
                            <a href="rss.html"><img class="rss" src="img/component/rss.png" style="float:right;"></a>
                        </span>
                        <span class="cleardiv col-md-1 col-sm-1 col-xs-1 col-xs-height col-middle"><a class="rss" href="rss.html">RSS</a></span>
                    </div>
                    <div class="searchbox row-same-height col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-xs-height cleardiv col-bottom">
                            <input type="text" class="form-control" placeholder="cari...">
                        </div>
                        <div class="col-xs-height col-bottom cleardiv">
                            <button class="glyphicon cari glyphicon-search" aria-hidden="true"></button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </header>

    <!-- Menu -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Header -->
            <div class="navbar-header visible-xs">
                <button type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target="#menu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="beranda.html">Beranda</a>
            </div>

            <!-- Collapse -->
            <ul class="nav navbar-nav collapse navbar-collapse" id="menu">
                <li><a href="beranda.html">Beranda</a></li>
                <li class="dropdown">
                    <a href="beranda.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Profil <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Sejarah</a></li>
                        <li><a href="#">Visi dan Misi</a></li>
                        <li><a href="#">Tugas dan Fungsi</a></li>
                        <li><a href="#">Struktur Organisasi</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="berita.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Berita <span class="caret"></span> </a>
                    <ul class="dropdown-menu">
                        <li><a href="berita.html">Kementerian</a></li>
                        <li><a href="berita.html">Pemerintahan</a></li>
                        <li><a href="berita.html">Sorotan Media</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Layanan Publik <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Perizinan</a></li>
                        <li><a href="#">Sertifikasi</a></li>
                        <li><a href="#">Lelang (LPSE)</a></li>
                        <li><a href="#">Pengaduan</a></li>
                        <li><a href="#">Domain ID</a></li>
                        <li><a href="#">e-Goverment</a></li>
                        <li><a href="#">e-Business</a></li>
                    </ul>   
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Informasi Publik <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Download</a></li>
                        <li><a href="#">Statistik</a></li>
                        <li><a href="#">Hasil Penelitian</a></li>
                        <li><a href="#">Jurnal Ilmiah</a></li>
                        <li><a href="#">Streaming</a></li>
                        <li><a href="#">Sistem Informasi Geografis</a></li>
                        <li><a href="#">Perjanjian MOU</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Program <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Pemberdayaan Informatika</a></li>
                        <li><a href="#">Telematika Pedesaan</a></li>
                        <li><a href="#">Internet Sehat</a></li>
                        <li><a href="#">Open Source</a></li>
                        <li><a href="#">TV Digital</a></li>
                        <li><a href="#">Monumen Pers Nasional</a></li>
                        <li><a href="#">Pekan Informasi Nasional</a></li>
                        <li><a href="#">Keamanan Informasi</a></li>
                        <li><a href="#">Palapa Ring</a></li>
                        <li><a href="#">Beasiswa</a></li>
                    </ul>
                </li>
                <li><a href="#">Regulasi</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Publikasi <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Laporan Keuangan Tahunan</a></li>
                        <li><a href="#">Laporan Akuntabilitas</a></li>
                        <li><a href="#">Rencana Kerja Anggaran</a></li>
                        <li><a href="#">Open Source</a></li>
                        <li><a href="#">TV Digital</a></li>
                        <li><a href="#">Lakip</a></li>
                        <li><a href="#">Renja</a></li>
                        <li><a href="#">Renstra</a></li>
                    </ul>
                </li>
                <li class="Active"><a href="galeri.html">Galeri</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
        </div>
    </nav>
</div>

<!-- Headline -->
<div class="container cleardiv">
	<div class="headline col-md-12 col-sm-12 col-xs-12">
			<div class="col-md-11 col-sm-11 col-xs-12 h margin-bottom10px">
				<span id="typed"></span>
			</div>
			<div class="col-md-1 col-sm-1 col-xs-12 d margin-bottom10px">8 May</div>
	</div>
	<div class="col-md-1 col-sm-1 col-xs-1"></div>
</div>

<!-- album -->
<div class="container margin-bottom10px">

    <div class="col-md-9 col-sm-12 col-xs-12 cleardiv margin-bottom10px">
        <!-- Navigation -->
        <nav class="col-md-12 col-sm-12 col-xs-12 padding-left0px padding">
            <section class="col-md-12 col-sm-12 col-xs-12 cleardiv navigation">
                <a href="#">Beranda</a> >
                <a href="galeri.html" class="selected">Galeri</a> >
                <a href="galeri-detail.html" class="selected">Uji Sertifikasi Angkatan Kerja Muda Bidang Kominfo di Surabaya</a>
            </section>
        </nav>
        
        <nav class="col-md-12 col-sm-12 col-xs-12 padding-left0px padding margin-bottom10px">
          <section class="col-md-12 col-sm-12 col-xs-12 white-panel cleardiv">
            <p class="padding10px col-xs-height col-middle">
              Uji Sertifikasi Angkatan Kerja Muda Bidang Kominfo di Surabaya tanggal 6 Mei 2015
            </p>
          </section>
        </nav>        

        <nav class="col-md-12 col-sm-12 col-xs-12 padding-left0px padding">
          <div class="col-md-12 col-sm-12 col-xs-12 white-panel cleardiv" style="padding-top:15px !important; padding-left:15px !important;">
            <ul class="album-detail cleardiv">

            <li class="col-lg-3 col-md-3 col-sm-3 col-xs-4 padding-left0px overflow-hidden" style="max-height:130">
                <a class="fancybox-thumbs" data-fancybox-group="thumb1" href="img/gallery/gallery-15.jpg">
                  <img class="img-responsive"  src="img/gallery/gallery-15.jpg">
                </a>
              
            </li>

            <li class="col-lg-3 col-md-3 col-sm-3 col-xs-4 padding-left0px overflow-hidden" style="max-height:130">
                <a class="fancybox-thumbs" data-fancybox-group="thumb1" href="img/gallery/gallery-16.jpg">
                  <img class="img-responsive"  src="img/gallery/gallery-16.jpg">
                </a>
              
            </li>

            <li class="col-lg-3 col-md-3 col-sm-3 col-xs-4 padding-left0px overflow-hidden" style="max-height:130">
                <a class="fancybox-thumbs" data-fancybox-group="thumb1" href="img/gallery/gallery-21.jpg">
                  <img class="img-responsive"  src="img/gallery/gallery-21.jpg">
                </a>
              
            </li>

            <li class="col-lg-3 col-md-3 col-sm-3 col-xs-4 padding-left0px overflow-hidden" style="max-height:130">
                <a class="fancybox-thumbs " data-fancybox-group="thumb1" href="img/gallery/gallery-2.jpg">
                  <img class="img-responsive" src="img/gallery/gallery-2.jpg" alt="" />
                </a>
              
            </li>

            <li class="col-lg-3 col-md-3 col-sm-3 col-xs-4 padding-left0px overflow-hidden" style="max-height:130">
                <a class="fancybox-thumbs " data-fancybox-group="thumb1" href="img/gallery/gallery-1.jpg">
                  <img class="img-responsive" src="img/gallery/gallery-1.jpg" alt="" />
                </a>
              
            </li>

            <li class="col-lg-3 col-md-3 col-sm-3 col-xs-4 padding-left0px overflow-hidden" style="max-height:130">
                <a class="fancybox-thumbs " data-fancybox-group="thumb1" href="img/gallery/gallery-4.jpg">
                  <img class="img-responsive" src="img/gallery/gallery-4.jpg" alt="" />
                </a>
              
            </li>

          </ul>    
        </nav>
    </div>

		<div style="z-index:11111111;" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	      <div class="modal-dialog">
	        <div class="modal-content">         
	          <div class="modal-body">                
	          </div>
	        </div><!-- /.modal-content -->
	      </div><!-- /.modal-dialog -->
	    </div><!-- /.modal -->

		
		


	<div class="col-md-3 col-sm-12 col-xs-12 margin-bottom10px cleardiv">
        <!-- berita pemerintahan -->
        <div class="col-md-12 col-sm-12 col-xs-12 cleardiv margin-bottom10px subcontent sideimg">
            <div class="col-md-12 col-sm-12 col-xs-12 title">
                <span class="texttitle">Berita Pemerintahan</span>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 content row-same-height">
                <div class="col-md-4 col-sm-4 col-xs-6 col-xs-height col-top cleardiv">
                    <img class="subnews" src="img/berita/berita-16.jpg">
                </div>
                <div class="col-md-8 col-sm-8 col-xs-6 col-xs-height col-top texttitle">
                    <a class="sidebarlink" href="#">Rencana Kerja Pemerintah 2016, Presiden Jokowi Minta Program Jangan Terlalu Banyak Tetapi Jelas</a>
                    <span class="detail">Dibaca 130 Kali</span>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 content row-same-height">
                <div class="col-md-4 col-sm-4 col-xs-6 col-xs-height col-top cleardiv">
                    <img class="subnews" src="img/berita/berita-17.jpg">
                </div>
                <div class="col-md-8 col-sm-8 col-xs-6 col-xs-height col-top texttitle">
                    <a class="sidebarlink" href="#">Pembangunan Tol Trans Sumatera Dan Trans Jawa, Presiden: Kalau Tidak Capai Target Ya Diganti</a>
                    <span class="detail">Dibaca 313 Kali</span>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 content row-same-height">
                <div class="col-md-4 col-sm-4 col-xs-6 col-xs-height col-top cleardiv">
                    <img class="subnews" src="img/berita/berita-18.jpg">
                </div>
                <div class="col-md-8 col-sm-8 col-xs-6 col-xs-height col-top texttitle">
                    <a class="sidebarlink" href="#">Mulai Januari 2015, Pemerintah Berhentikan Sementara Penerimaan CPNS</a>
                    <span class="detail">Dibaca 12306 kali</span>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 content row-same-height">
                <div class="col-md-4 col-sm-4 col-xs-6 col-xs-height col-top cleardiv">
                    <img class="subnews" src="img/berita/berita-19.jpg">
                </div>
                <div class="col-md-8 col-sm-8 col-xs-6 col-xs-height col-top texttitle">
                    <a class="sidebarlink" href="#">Presiden Jokowi Resmi Bentuk Badan Keamanan Laut</a>
                    <span class="detail">Dibaca 10306 kali</span>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 content row-same-height">
                <div class="col-md-4 col-sm-4 col-xs-6 col-xs-height col-top cleardiv">
                    <img class="subnews" src="img/berita/berita-11.jpg">
                </div>
                <div class="col-md-8 col-sm-8 col-xs-6 col-xs-height col-top texttitle">
                    <a class="sidebarlink" href="#">ASEAN dan Korea Selatan Perkuat Kerja Sama Perdagangan</a>
                    <span class="detail">Dibaca 9506 kali</span>
                </div>
            </div>
        </div>

        <!-- siaran pers -->
        <div class="col-md-12 col-sm-12 col-xs-12 cleardiv margin-bottom10px subcontent sideimg">
            <div class="col-md-12 col-sm-12 col-xs-12 title">
                <span class="texttitle">Siaran Pers</span>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 content row-same-height">
                <div class="col-md-4 col-sm-4 col-xs-6 col-xs-height col-top cleardiv">
                    <img class="subnews" src="img/berita/berita-12.jpg">
                </div>
                <div class="col-md-8 col-sm-8 col-xs-6 col-xs-height col-top texttitle">
                    <a class="sidebarlink" href="#">Rencana Kerja Pemerintah 2016, Presiden Jokowi Minta Program Jangan Terlalu Banyak Tetapi Jelas</a>
                    <span class="detail">Dibaca 130 Kali</span>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 content row-same-height">
                <div class="col-md-4 col-sm-4 col-xs-6 col-xs-height col-top cleardiv">
                    <img class="subnews" src="img/berita/berita-19.jpg">
                </div>
                <div class="col-md-8 col-sm-8 col-xs-6 col-xs-height col-top texttitle">
                    <a class="sidebarlink" href="#">Pembangunan Tol Trans Sumatera Dan Trans Jawa, Presiden: Kalau Tidak Capai Target Ya Diganti</a>
                    <span class="detail">Dibaca 313 Kali</span>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 content row-same-height">
                <div class="col-md-4 col-sm-4 col-xs-6 col-xs-height col-top cleardiv">
                    <img class="subnews" src="img/berita/berita-12.jpg">
                </div>
                <div class="col-md-8 col-sm-8 col-xs-6 col-xs-height col-top texttitle">
                    <a class="sidebarlink" href="#">Mulai Januari 2015, Pemerintah Berhentikan Sementara Penerimaan CPNS</a>
                    <span class="detail">Dibaca 12306 kali</span>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 content row-same-height">
                <div class="col-md-4 col-sm-4 col-xs-6 col-xs-height col-top cleardiv">
                    <img class="subnews" src="img/berita/berita-14.jpg">
                </div>
                <div class="col-md-8 col-sm-8 col-xs-6 col-xs-height col-top texttitle">
                    <a class="sidebarlink" href="#">Presiden Jokowi Resmi Bentuk Badan Keamanan Laut</a>
                    <span class="detail">Dibaca 10306 kali</span>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 content row-same-height">
                <div class="col-md-4 col-sm-4 col-xs-6 col-xs-height col-top cleardiv">
                    <img class="subnews" src="img/berita/berita-11.jpg">
                </div>
                <div class="col-md-8 col-sm-8 col-xs-6 col-xs-height col-top texttitle">
                    <a class="sidebarlink" href="#">ASEAN dan Korea Selatan Perkuat Kerja Sama Perdagangan</a>
                    <span class="detail">Dibaca 9506 kali</span>
                </div>
            </div>
        </div>

        <!-- sorotan media -->
        <div class="col-md-12 col-sm-12 col-xs-12 cleardiv margin-bottom10px subcontent sideimg">
            <div class="col-md-12 col-sm-12 col-xs-12 title">
                <span class="texttitle">Sorotan Media</span>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 content row-same-height">
                <div class="col-md-4 col-sm-4 col-xs-6 col-xs-height col-top cleardiv">
                    <img class="subnews" src="img/berita/berita-19.jpg">
                </div>
                <div class="col-md-8 col-sm-8 col-xs-6 col-xs-height col-top texttitle">
                    <a class="sidebarlink" href="#">Rencana Kerja Pemerintah 2016, Presiden Jokowi Minta Program Jangan Terlalu Banyak Tetapi Jelas</a>
                    <span class="detail">Dibaca 130 Kali</span>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 content row-same-height">
                <div class="col-md-4 col-sm-4 col-xs-6 col-xs-height col-top cleardiv">
                    <img class="subnews" src="img/berita/berita-18.jpg">
                </div>
                <div class="col-md-8 col-sm-8 col-xs-6 col-xs-height col-top texttitle">
                    <a class="sidebarlink" href="#">Pembangunan Tol Trans Sumatera Dan Trans Jawa, Presiden: Kalau Tidak Capai Target Ya Diganti</a>
                    <span class="detail">Dibaca 313 Kali</span>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 content row-same-height">
                <div class="col-md-4 col-sm-4 col-xs-6 col-xs-height col-top cleardiv">
                    <img class="subnews" src="img/berita/berita-13.jpg">
                </div>
                <div class="col-md-8 col-sm-8 col-xs-6 col-xs-height col-top texttitle">
                    <a class="sidebarlink" href="#">Mulai Januari 2015, Pemerintah Berhentikan Sementara Penerimaan CPNS</a>
                    <span class="detail">Dibaca 12306 kali</span>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 content row-same-height">
                <div class="col-md-4 col-sm-4 col-xs-6 col-xs-height col-top cleardiv">
                    <img class="subnews" src="img/berita/berita-11.jpg">
                </div>
                <div class="col-md-8 col-sm-8 col-xs-6 col-xs-height col-top texttitle">
                    <a class="sidebarlink" href="#">Presiden Jokowi Resmi Bentuk Badan Keamanan Laut</a>
                    <span class="detail">Dibaca 10306 kali</span>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 content row-same-height">
                <div class="col-md-4 col-sm-4 col-xs-6 col-xs-height col-top cleardiv">
                    <img class="subnews" src="img/berita/berita-12.jpg">
                </div>
                <div class="col-md-8 col-sm-8 col-xs-6 col-xs-height col-top texttitle">
                    <a class="sidebarlink" href="#">ASEAN dan Korea Selatan Perkuat Kerja Sama Perdagangan</a>
                    <span class="detail">Dibaca 9506 kali</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="footer" class="container-fluid col-md-12 col-sm-12 col-xs-12 col-lg-12 cleardiv">
    <footer class="footer">
        <div class="container">
            <section class="panel panel-default col-md-4 col-xs-12 col-sm-4 cleardiv">
                <header class="panel-heading">Program</header>
                <article class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="#">Statistik Kominfo</a></li>
                        <li class="list-group-item"><a href="#">Open Source</a></li>
                        <li class="list-group-item"><a href="#">Keamanan Informasi</a></li>
                        <li class="list-group-item"><a href="#">Berita Kementerian</a></li>
                        <li class="list-group-item"><a href="#">Sistem Informasi Geografis TIK</a></li>
                        <li class="list-group-item"><a href="#">LPSE Kominfo</a></li>
                        <li class="list-group-item"><a href="#">Pekan Informasi Nasional 2014</a></li>
                        <li class="list-group-item"><a href="#">Download</a></li>
                        <li class="list-group-item"><a href="#">TV Digital</a></li>
                        <li class="list-group-item"><a href="#">Monumen Pers Nasional</a></li>
                        <li class="list-group-item"><a href="#">Internet Sehat</a></li>
                    </ul>
                </article>
            </section>

            
            <section class="panel panel-default col-md-4 col-xs-12 col-sm-4 cleardiv">
                <header class="panel-heading">Media</header>
                <article class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="#">Open Source</a></li>
                    </ul>
                </article>
                <br>
                
                <header class="panel-heading">FAQ</header>
                <article class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="#">Boleh pake PHP?</a></li>
                        <li class="list-group-item"><a href="#">Peserta boleh mengirimkan lebih dari 1 karya?</a></li>
                        <li class="list-group-item"><a href="#">Apa yang dimaksud dengan halaman 1 kolom, 2 kolom, 3 kolom</a></li>
                        <li class="list-group-item"><a href="#">Boleh pake PHP?</a></li>
                        <li class="list-group-item"><a href="#">Peserta boleh mengirimkan lebih dari 1 karya?</a></li>
                        <li class="list-group-item"><a href="#">Boleh pake PHP?</a></li>
                    </ul>
                </article>
                    
            </section>

            <!--FAQ-->

            <section class="panel panel-default col-md-4 col-xs-12 col-sm-4 cleardiv">
                <header class="panel-heading">Integrasi Sosial</header>
                <article class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <section class="btn-group btn-group-horizontal">
                                <a class="col-md-4 col-xs-4 col-sm-4" href="#">
                                    <img src="img/component/fb-logo.png">
                                </a>
                                <a class="col-md-4 col-xs-4 col-sm-4" href="#">
                                    <img src="img/component/twitter-logo.png" style="width:33px; height:29px">
                                </a>
                                <a class="col-md-4 col-xs-4 col-sm-4" href="#">
                                    <img src="img/component/youtube-logo.png" style="width:35px; height:29px">
                                </a>
                            </section>
                        </li>
                    </ul>
                </article>  <br>
                <header class="panel-heading">Contact Us</header>
                <article class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-text">
                            Jl. Medan Merdeka Barat No. 9, Jakarta Pusat, 10110<br>
                            Kontak:<br>
                            Telepon: (021) 38433507 - (021) 38433508
                        </li>
                    </ul>
                </article>
            </section>

        </div>
    </footer>
    <div class="copyright container-fluid">
        <div class=" col-md-1 col-sx-1 com-sm-1 cleardiv"></div>
        <section class="col-md-10 col-sx-10 com-sm-10">&copy;2015.
            Kementerian Komunikasi dan Informatika</section>
        <div class=" col-md-1 col-sx-1 com-sm-1 cleardiv"></div>
    </div>
</div>

