<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">

<channel>
  <title>RSS Website Kementerian Komunikasi dan Informatika RI</title>
  <link>kominfo.go.id</link>

  <item>
    <title>Kemkominfo Berikan Sanksi Administrasi Penyelenggara Premium Call yang melanggar</title>
    <link>kominfo.go.id/berita-kementerian/</link>
    <pubDate>19 Mei 2015 17:06 GMT+7</pubDate>
    <description>ementerian Komunikasi dan Informatika(Kemkominfo) berikan sanksi administrasi kepada penyelenggara premium call yang terbukti melanggar, dan diikuti dengan tindak lanjut sanksi lainnya sesuai peraturan perundangan yang berlaku jika para penyelenggara tersebut tidak menunjukkan itikad baik mematuhi ketentuan yang berlaku.</description>
  </item>

  <item>
    <title>The Quick Brown Fox Jumps Over The Lazy Dog</title>
    <link>kominfo.go.id/berita-kementerian/</link>
    <pubDate>19 Mei 2015 17:06 GMT+7</pubDate>
    <description>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been thypesetting industry. Lorem Ipsum has been the industry's stanLorem Ipsum is simply dummy texLorem Ipsum is simply dummy text of the printing and typesetting industry.</description>
  </item>

  <item>
    <title>Mulai Januari 2015, Pemerintah Berhentikan Sementara Penerimaan CPNS</title>
    <link>kominfo.go.id/berita-kementerian/</link>
    <pubDate>19 Mei 2015 17:06 GMT+7</pubDate>
    <description>Kementerian Komunikasi dan Informatika(Kemkominfo) berikan sanksi administrasi kepada penyelenggara premium call yang terbukti melanggar, dan diikuti dengan tindak lanjut sanksi lainnya sesuai peraturan perundangan yang berlaku jika para penyelenggara tersebut tidak menunjukkan itikad baik mematuhi ketentuan yang berlaku.</description>
  </item>

  <item>
    <title>The Quick Brown Fox Jumps Over The Lazy Dog</title>
    <link>kominfo.go.id/berita-kementerian/</link>
    <pubDate>19 Mei 2015 17:06 GMT+7</pubDate>
    <description>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been thypesetting industry. Lorem Ipsum has been the industry's stanLorem Ipsum is simply dummy texLorem Ipsum is simply dummy text of the printing and typesetting industry.</description>
  </item>

  <item>
    <title>Open Source di Kominfo</title>
    <link>kominfo.go.id/berita-kementerian/</link>
    <pubDate>19 Mei 2015 17:06 GMT+7</pubDate>
    <description>Kementerian Komunikasi dan Informatika(Kemkominfo) berikan sanksi administrasi kepada penyelenggara premium call yang terbukti melanggar, dan diikuti dengan tindak lanjut sanksi lainnya sesuai peraturan perundangan yang berlaku jika para penyelenggara tersebut tidak menunjukkan itikad baik mematuhi ketentuan yang berlaku.</description>
  </item>

  <item>
    <title>Kominfo-Kapolri MoU Pengamanan dan Penegakan Hukum Bidang Kominfo</title>
    <link>kominfo.go.id/berita-kementerian/</link>
    <pubDate>19 Mei 2015 17:06 GMT+7</pubDate>
    <description>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been thypesetting industry. Lorem Ipsum has been the industry's stanLorem Ipsum is simply dummy texLorem Ipsum is simply dummy text of the printing and typesetting industry.</description>
  </item>

  <item>
    <title>Rencana Kerja Pemerintah 2016, Presiden Jokowi Minta Program Jangan Terlalu Banyak Tetapi Jelas</title>
    <link>kominfo.go.id/berita-kementerian/</link>
    <pubDate>19 Mei 2015 17:06 GMT+7</pubDate>
    <description>Kementerian Komunikasi dan Informatika(Kemkominfo) berikan sanksi administrasi kepada penyelenggara premium call yang terbukti melanggar, dan diikuti dengan tindak lanjut sanksi lainnya sesuai peraturan perundangan yang berlaku jika para penyelenggara tersebut tidak menunjukkan itikad baik mematuhi ketentuan yang berlaku.</description>
  </item>

  <item>
    <title>Presiden Jokowi Resmi Bentuk Badan Keamanan Laut</title>
    <link>kominfo.go.id/berita-kementerian/</link>
    <pubDate>19 Mei 2015 17:06 GMT+7</pubDate>
    <description>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been thypesetting industry. Lorem Ipsum has been the industry's stanLorem Ipsum is simply dummy texLorem Ipsum is simply dummy text of the printing and typesetting industry.</description>
  </item>

    <item>
    <title>Pembangunan Tol Trans Sumatera Dan Trans Jawa, Presiden: Kalau Tidak Capai Target Ya Diganti</title>
    <link>kominfo.go.id/berita-kementerian/</link>
    <pubDate>19 Mei 2015 17:06 GMT+7</pubDate>
    <description>Kementerian Komunikasi dan Informatika(Kemkominfo) berikan sanksi administrasi kepada penyelenggara premium call yang terbukti melanggar, dan diikuti dengan tindak lanjut sanksi lainnya sesuai peraturan perundangan yang berlaku jika para penyelenggara tersebut tidak menunjukkan itikad baik mematuhi ketentuan yang berlaku.</description>
  </item>

  <item>
    <title>Kominfo : Pengguna Internet di Indonesia 63 Juta Orang</title>
    <link>kominfo.go.id/berita-kementerian/</link>
    <pubDate>19 Mei 2015 17:06 GMT+7</pubDate>
    <description>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been thypesetting industry. Lorem Ipsum has been the industry's stanLorem Ipsum is simply dummy texLorem Ipsum is simply dummy text of the printing and typesetting industry.</description>
  </item>
  
</channel>

</rss>